<p id="notice"><%= notice %></p>

<p>
  <strong>Coverage type:</strong>
  <%= @coverage.coverage_type %>
</p>

<%= link_to 'Edit', edit_coverage_path(@coverage) %> |
<%= link_to 'Back', coverages_path %>
